<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.class3.mapper.BlogMapper">

	<!--  前端-程鑫   -->
	<resultMap type="com.zr.class3.model.Menu" id="m">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="icon" column="icon" />
		<result property="href" column="href" />
		<result property="parentid" column="parentid" />
		<collection property="children" column="id"
			ofType="com.zr.class3.model.Menu" select="search_menu" />
	</resultMap>
	

	<!--  前端-程鑫   -->
	<select id="search_menu" resultMap="m">
		select *
		from menu 
		where parentid = #{fatherid}
	</select>
	
	

	
	
	<!--  后端-冯硕   -->
	<select id="get_fangyuan_info_by_fangdongid" resultType="com.zr.class3.model.FangYuanQQ">
    	select *
    	from fangyuanqq
    	where FDNum= #{FDNum} AND State = "待处理"
    </select>
    
	<!--  后端-冯硕   -->
     <select id="get_heyue_info_by_fangyuanid" resultType="com.zr.class3.model.HeYue">
		select heyue.*
		from fangdong
		left join fangyuan
		on fangdong.FDNum=fangyuan.FDNum
		left join heyue
		on fangyuan.FYNum=heyue.FYNum
		where fangdong.FDNum = #{FDNum} and heyue.State = "待审核"
    </select>
    
	<!--  后端-冯硕   -->
	<select id="get_all_zuhu_info" resultType="com.zr.class3.model.ZuHu">
		select *
		from zuhu
	</select>
	<select id="search_fangdong_info" resultType="com.zr.class3.model.FangDong">
	
	
	<!--  后端-冯硕   -->
	</select>
	<insert id="insertFangDong">
  		insert into FangDong (FDNum,FDName,Sex,FDAdress,FDEmail,FDTel,FDEdu,FDJob,FDIdnum)
 		values (#{FDNum},#{FDName},#{Sex},#{FDAdress},#{FDEmail},#{FDTel},#{FDEdu},#{FDJob},#{FDIdnum})
	</insert>
	
	
	
	
	<!--  前端-程鑫   -->
	<select id="search_fangyuan" resultType="com.zr.class3.model.FangYuan">
		select *
		from fangyuan
	</select>
	
	
	<!--  后端-李泽霖   -->
	<select id="get_all_fangdongqq_info" resultType="com.zr.class3.model.FangDongQQ">
		select *
		from fangdongqq
	</select>


	<!--  后端-李泽霖   -->
	<select id="get_pre_fangdongqq_info" resultType="com.zr.class3.model.FangDongQQ">
		select *
		from fangdongqq
		where State= '待审核'
	</select>
	
	<!--  前端-程鑫   -->
	<select id="get_all_fangyuanqq_id" resultType="com.zr.class3.model.FangYuanQQ">
		select *
		from fangyuanqq 
		where FDNum = #{id_fangdong}
	</select>
	
	<!--  前端-程鑫   -->
	<select id="get_all_heyue_id" resultType="com.zr.class3.model.HeYue">
		SELECT heyue.HYNum,heyue.FYNum,heyue.ZHNum,heyue.GLYNum,heyue.HYCreate,heyue.HYExam,heyue.HYOver,heyue.State,heyue.HYPicloc
		FROM fangdong,fangyuan,heyue
		WHERE fangdong.FDNum=fangyuan.FDNum AND fangyuan.FYNum=heyue.FYNum AND fangdong.FDNum= #{id_fangdong}
	</select>
	
	
	<!--  后端-李泽霖   -->
	<delete id="delete_fangdong_Num" >
		DELETE
			fangdong,
			fangyuan,
			heyue,
			heyuejl
		FROM
			fangdong
			LEFT JOIN fangyuanqq
				ON fangdong.FDNum=fangyuanqq.FDNum
			LEFT JOIN fangyuan
				ON fangdong.FDNum=fangyuan.FDNum
			LEFT JOIN heyue
				ON fangyuan.FYNum=heyue.FYNum
			LEFT JOIN heyuejl
				ON fangyuan.FYNum=heyuejl.FYNum

		WHERE fangdong.FDNum=#{num};
	</delete>
	

	<!--  后端-李泽霖   -->
	<delete id="delete_zuhu_Num" >
		DELETE
			zuhu,
			kanfangqq,
			heyue,
			heyuejl,
			fangdongqq
		FROM
			zuhu
			LEFT JOIN kanfangqq
				ON zuhu.ZHNum=kanfangqq.ZHNum
			LEFT JOIN fangdongqq
				ON zuhu.ZHNum=fangdongqq.ZHNum
			LEFT JOIN heyue
				ON zuhu.ZHNum=heyue.ZHNum
			LEFT JOIN heyuejl
				ON zuhu.ZHNum=heyuejl.ZHNum
		WHERE zuhu.ZHNum=#{num};
	</delete>
	
	
	<!--  后端-李泽霖   -->
	<select id="get_all_fangyuan_info" resultType="com.zr.class3.model.FangYuan">
		select *
		from fangyuan
	</select>
	
	
	<!--  后端-李泽霖   -->
	<delete id="delete_fangyuan_Num" >
		DELETE
			fangyuan,
			heyue,
			heyuejl
		
		FROM
			fangyuan
			LEFT JOIN heyue
				ON fangyuan.FYNum=heyue.FYNum
			LEFT JOIN heyuejl
				ON fangyuan.FYNum=heyuejl.FYNum
			
		WHERE fangyuan.FYNum=#{num};
	</delete>
	
	<!--  后端-李泽霖   -->
	<select id="get_fangyuan_info_fromid" resultType="com.zr.class3.model.FangYuan">
		select *
		from fangyuan
		where fangyuan.FYNum= #{num};
		
	</select>
	
	<!--  后端-李泽霖   -->
	<select id="get_all_fangyuanqq_info" resultType="com.zr.class3.model.FangYuanQQ">
		select *
		from fangyuanqq
	</select>
	
	
	<!--  后端-李泽霖   -->
	<select id="get_fangdong_info_from_fangyuanid" resultType="com.zr.class3.model.FangDong">
		select * 
		from fangdong right outer join fangyuan on fangdong.FDNum=fangyuan.FDNum
		where fangyuan.FYNum=#{num};
		
	</select>
	
	
	
	
	<!--  后端-冯硕   -->
	<select id="get_all_fangdong_info" resultType="com.zr.class3.model.FangDong">
		select *
		from fangdong
		
	</select>
	
	<!--  后端-冯硕   -->
	<select id="get_fangdong_info_byid" resultType="com.zr.class3.model.FangDong">
    	select *
    	from fangdong
    	where FDNum= #{FDNum}
    </select>
    
	<!--  后端-冯硕   -->
	<select id="get_heyue_info_by_fangdongid" resultType="com.zr.class3.model.HeYue">
		select heyue.*
		from fangdong
		left join fangyuan
		on fangdong.FDNum=fangyuan.FDNum
		left join heyue
		on fangyuan.FYNum=heyue.FYNum
		where fangdong.FDNum = #{FDNum} and heyue.State = "待审核"
	</select>
	
	
	<!--  后端-李泽霖   -->
	<select id="get_zuhu_info_fromid" resultType="com.zr.class3.model.ZuHu">
		select *
		from zuhu
		where zuhu.ZHNum= #{num};
	</select>
	
	
	<!--  后端-冯硕   -->
	<select id="get_kanfangqq_by_zuhuid" resultType="com.zr.class3.model.KanFangQQ">
		select *
		from kanfangqq
		where ZHNum=#{ZHNum}
	</select>
	
	
	<!-- 后端-冯朔 -->
    <select id="get_heyue_by_zuhuid" resultType="com.zr.class3.model.HeYue">
    	select *
    	from heyue
    	where ZHNum= #{ZHNum}
    </select>
</mapper>